# Mission_to_Mars

## Mars Latest News

In [19]:
# import dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from selenium import webdriver

In [20]:
# use splinter to 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [21]:
# get the url for NASA's latest news
url ="https://mars.nasa.gov/news/"
# open the url
browser.visit(url)

In [22]:
# create the html
html = browser.html

# create beautifulsoup object
soup = bs(html, "html.parser")

In [23]:
# get the latest news data with beautifulsoup
data = soup.find("li", class_="slide")
print(data)

<li class="slide"><div class="image_and_description_container"><a href="/news/8549/nasas-mars-2020-will-hunt-for-microscopic-fossils/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">A new paper identifies a ring of minerals at the rover's landing site that are ideal for fossilizing microbial life.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="Lighter colors represent higher elevation in this image of Jezero Crater on Mars, the landing site for NASA's Mars 2020 mission." src="/system/news_items/list_view_images/8549_PIA23511-320x240.jpg"/></div><div class="bottom_gradient"><div><h3>NASA's Mars 2020 Will Hunt for Microscopic Fossils</h3></div></div></a><div class="list_text"><div class="list_date">November 12, 2019</div><div class="content_title"><a href="/news/8549/nasas-mars-2020-will-hunt-for-microscopic-fossils/" target="_self">NASA's Mars 2020 Will Hunt for Microscopic Fossils</a></div><div class="article_teaser_body">A new paper identifies a ring of minerals at the rover's landing site that are ideal for fossilizing microbial life.</div></div></div></li>

In [24]:
# use bs to get news title and paragraph info
news_title = data.find("div", class_="content_title").a.text
paragraph = data.find("div", class_="article_teaser_body").text
print(news_title)
print("----------------")
print(paragraph)

NASA's Mars 2020 Will Hunt for Microscopic Fossils
----------------
A new paper identifies a ring of minerals at the rover's landing site that are ideal for fossilizing microbial life.

## Mars Images

In [9]:
# use splinter to navigate the page
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
# get the url for the image
img_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

# use browser to open the url for image
browser.visit(img_url)

In [11]:
# create html to parse
html = browser.html

# create soup object to parse html
soup = bs(html, "html.parser")

# use beautifulsoup to navigate to the image
image = soup.find("li", class_="slide").a["data-fancybox-href"]

# display larger size image
print(image)

/spaceimages/images/largesize/PIA23539_hires.jpg

In [12]:
# create the url for the image
featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23539_hires.jpg

## Mars Weather

In [16]:
# get the url and perform get requests
tweet_url = "https://twitter.com/marswxreport?lang=en"
response = requests.get(tweet_url)

# create beautifulsoup object 
soup = bs(response.text, "html.parser")
#print(soup.prettify())

In [18]:
# get the weather tweet with beautiful soup
mars_weather = soup.find("div", class_="js-tweet-text-container").p.get_text(strip=True)

# strip unnecessary strings
mars_weather = mars_weather.strip("InSight")
mars_weather = mars_weather.split("pic",1)[0]

# replace newline characters with ",", and manipulate the string 
mars_weather = mars_weather.replace("\n", ", ")
mars_weather=mars_weather.capitalize()
mars_weather = mars_weather.strip()
mars_weather = mars_weather.capitalize()
mars_weather

'Sol 340 (2019-11-10) low -101.0ºc (-149.8ºf) high -24.4ºc (-12.0ºf), winds from the sse at 5.3 m/s (11.9 mph) gusting to 20.4 m/s (45.6 mph), pressure at 6.90 hpa'

## Mars Facts

In [15]:
# get the url for Mars's facts 
facts_url = "https://space-facts.com/mars/"

# # Use panda's `read_html` to parse the url
table = pd.read_html(facts_url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
# convert table to pandas dataframe
facts_df = table[0]
facts_df

#rename the columns
facts_df.columns=["description", "value"]
facts_df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
# reset the index for the df
facts_df.set_index("description", inplace=True)
facts_df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [18]:
# convert dataframe to an html table string
facts_html = facts_df.to_html()
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
    </tr>
    <tr>
      <th>description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [10]:
# use splinter to navigate the page
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
# get the url and oepn it with browser
h_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(h_url)

In [12]:
# cerate html 
html = browser.html

# use beautiful soup to create soup object
soup = bs(html, "html.parser")

In [13]:
data = soup.find_all("div", class_="item")
print(data)

[<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div> <!-- end description --></div>, <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div> <!-- end description --></div>, <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div> <!-- end description --></div>, <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div> <!-- end description --></div>]

In [7]:
# navigate the page to get necessary image url and title

data = soup.find_all("div", class_="item")

hemisphere_img_urls = []

# loop through image data to find title and url info
for d in data:
    
    title = d.find("h3").text
    
    img_url = d.a["href"]
    
    url = "https://astrogeology.usgs.gov" + img_url
    
    # use requests to get full images url 
    response = requests.get(url)
    
    # create soup object
    soup = bs(response.text,"html.parser")
    
    # find full image url
    new_url = soup.find("img", class_="wide-image")["src"]
    
    # create full image url
    full_url = "https://astrogeology.usgs.gov" + new_url
    
   
    #make a dict and append to the list
    hemisphere_img_urls.append({"title": title, "img_url": full_url})

hemisphere_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]